/* ==========================================================================
   Wrapper
   ========================================================================== */

.o-wrapper {
	position: relative;
	min-height: 100vh;
	background-color: #fff;
}
